.country {
  width: 80%;
  margin: auto;
  text-align: left;
  border: black 1px solid;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  text-align: center;
}
.country div {
  width: 40%;
}
.country h4{
    color: grey;
}
.country h5{
    color: purple;
}
