.country {
  width: 80%;
  margin: auto;
  text-align: left;
  border: black 1px solid;
  padding-left: 20%;
  display:flex;
  flex-wra:wrap;
}
.country div {
  width: 40%;
}
.country h4{
    color: grey;
}
.country h5{
    color: purple;
}
