h3{
    color: grey;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 2% 30%;
}
.display{
    max-height: 50vh;
    overflow: scroll;
    width: 20%;
    margin: auto;
    border: black 1px solid;
}