h3{
    color: grey;
}
.navBar{
    display: flex;
    justify-content: space-between;
    padding: 2% 30%;
}
.display{
    max-height: 50vh;
    overflow: scroll;
    width: 50%;
    margin: auto;
    border: black 1px solid;
}
input{
    margin-top: 10%;
    width: 50%;
    height: 4vh;
    font-size: large;
}
button{
    height: 5vh;
}
.link{
display: flex;
justify-content: space-around;
}
.link p{
    font-size: larger;
}
.covidTitle{
    border: 1px black solid;
    background-color: blue;
    border-radius: 15px ;
    color: lightblue;
    width: 60%;
    margin: auto;
    padding: 5%;
}